<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="reg_main">
        <div class="regi_first_part">
            <h1>Register Page</h1>
        </div>
        <div class="regi_second_part">
            <input type="text" placeholder="First Name">
            <input type="text" placeholder="Last Name">
            <input type="email" placeholder="email">
            <input type="password" placeholder="Password">
            <input type="radio" name="s">Male
            <input type="radio" name="s">FeMale
            <select name="" id="">
                <option value="Pune">PUNE</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Solapur">Solapur</option>
                <option value="Kolhapur">Kolhapur</option>
                <option value="Aurangabad">Aurangabad</option>
            </select>
            <div id="btn">
                <button>Submit</button>
            </div>

        </div>

    </div>
</body>
</html>