<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/success" method="post">
        <div class="reg_main">
            <div class="regi_first_part">
                <h1>Register Page</h1>
            </div>
            <div class="regi_second_part">
                <input type="text" name="name" placeholder="Full Name"><br><br>
                <input type="email" name="email" placeholder="email"><br><br>
                <input type="text" name="contact" placeholder="Contact Number"><br><br>
                <input type="text" name="city" placeholder="Enter City"><br><br>
                
                
                <input type="submit" value="Submit">
            </div>
    
        </div>
    </form>
</body>
</html>